<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turtle quiz app</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="list.js"></script>
    <script src="quiz.js"></script>
    <script src="quizMetrics.js"></script>
    <script src="dataservice.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="turtleFacts">
    <div class="container">
        <div class="page-header">
            <h1>Turtle Facts</h1>
            <h3>Just another Angular for training and to fill up spare time</h3>
        </div>
        <div ng-controller="listCtrl as list">
            <form action="" class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Search..." class="form-control" ng-model="list.search">
                <a class="btn btn-info pull-right" ng-click="list.activateQuiz()">Start quiz</a>
            </form>
            <div class="row">
                <div class="col-sm-6" ng-repeat="turtle in list.data | filter:list.search" ng-hide="list.quizMetrics.quizActive">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{turtle.image_url}}" alt="" class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">
                                <h4>{{turtle.type}}</h4>
                                <p><strong>Location: </strong>{{turtle.location}}</p>
                                <p><strong>Size: </strong>{{turtle.size}}</p>
                                <p><strong>Average livespan: </strong>{{turtle.lifespan}}</p>
                                <p><strong>Diet: </strong>{{turtle.diet}}</p>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#turtle-info" ng-click="list.changeActiveTurtle(turtle)">
                                    Learn more...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{list.activeTurtle.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <img ng-src="{{list.activeTurtle.image_url}}" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-12">
                                    <p><strong>Location: </strong>{{list.activeTurtle.location}}</p>
                                    <p><strong>Size: </strong>{{list.activeTurtle.size}}</p>
                                    <p><strong>Average livespan: </strong>{{list.activeTurtle.lifespan}}</p>
                                    <p><strong>Diet: </strong>{{list.activeTurtle.diet}}</p>
                                </div>
                                <div class="col-md-12 top-buffer">
                                    <p><strong>Description: </strong>{{list.activeTurtle.description}}</p>
                                    <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <div class="row">
                <div class="col-xs-8">
                    <h4>Progress</h4>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="question in quiz.dataService.quizQuestions" ng-class="{'btn-info': question.selected!==null, 'btn-danger':question.selected === null}" ng-click="quiz.selectQuestion($index)">
                            <span class="glyphicon" ng-class="{'glyphicon-pencil' : question.selected !== null, 'glyphicon-question-sign' : question.selected===null}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Question:</h3>
                <div class="well well-sm">
                    <h4>
                        {{quiz.activeQuestion+1 + ". " + quiz.dataService.quizQuestions[quiz.activeQuestion].text}}
                    </h4>
                    <div class="row">
                        <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
                            <p class="answer" ng-click="quiz.selectAnswer($index)" ng-class="{'bg-info' : $index == quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type=='text'">{{answer.answer}}</p>
                            <img class="answer image-answer" ng-click="quiz.selectAnswer($index)" ng-class="{'bg-info' : $index == quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type=='image'" ng-src="{{answer.answer}}">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning" ng-click="quiz.questionAnswered()">
                Continue...
            </button>
        </div>  
    </div>
</body>

</html>